<nav class="profileBody">
    <h1> Welcome! ${name}</h1>
    <br>
    <h2>Given you're ${age} years old and you're a ${gender}</h2>
    <br>
        <nav>
            <div class="row">
                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">We think you should receive the next screenings:</h5>
                      {{#each}}
                      <p class="card-text">${needed_screening}</p>
                      {{/each}}
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">We think you should receive the next vaccinations:</h5>
                      {{#each}}
                      <p class="card-text">${needed_vaccination}</p>
                      {{/each}}
                    </div>
                  </div>
                </div>
              </div>
        </nav>
        <br><br>
        <nav>
            <div class="card w-75">
                <div class="card-body">
                  <h5 class="card-title">Here's a helpful description:</h5>
                  <p class="card-text">${description}</p>
                  <a href="https://www.google.com" class="btn btn-primary">More Info</a>
                </div>
              </div>
        </nav>
</nav>
