</head>
<link rel="stylesheet" href='css/landing.css'>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia&effect=neon|outline|emboss|shadow-multiple">
<body>
    <div class="fullscreen a">
        <p>a</p>
        <marquee direction="left" class="font-effect-outline">Signup to Checkout Your Age Appropriate Health Screening Before your Next Doctor's Visit! </marquee>
    </div>
</body>
