<nav class='signupCSS'>
  <h1>Login</h1>
  <br />
  <form class='login-form'>

    <div class='mb-3'>
      <label for='email' class='form-label'>Email address</label>
      <input
        type='email'
        class='form-control'
        id='email'
        placeholder='name@example.com'
      />
    </div>

    <div class='mb-3'>
      <label for='password' class='form-label'>Password</label>
      <input
        type='password'
        class='form-control'
        id='password'
        placeholder='thisAintn0Pa55word'
      />
    </div>

    <div class='submitButton'>
      <button
        type='submit'
        id='loginbtn'
        class='button is-primary btn btn-outline-dark'
      >Login</button>
      <button
        type='submit'
        id='signupbtn'
        class='button is-primary btn btn-outline-dark'
      >signup</button>
    </div>
  </form>
</nav>

<script src='/js/login.js'></script>