<nav class="signupCSS">
    <h1>Create a New Account</h1>
    <br>
    <form class="signup-form">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Ben Dover">
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" placeholder="name@example.com">
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" placeholder="thisAintn0Pa55word">
        </div>

        <div class="mb-3">
            <label for="age" class="form-label">Age</label>
            <input type="integer" class="form-control" id="age" placeholder="69">
        </div>

        <div class="mb-3">
            <label for="sex" class="form-label">Gender</label>
            <input type="boolean" class="form-control" id="sex" placeholder="Male / Female">
        </div>
        <div class="submitButton">
            <button type="submit" class="button is-primary btn btn-outline-dark">signup</button>
        </div>
    </form>
</nav>

<script src="../public/js/login.js"></script>
